@using SurveyForm.Utility
@model SurveyForm.ViewModels.TemplateViewModel

@{
	var index = 1;
}

@if (Model.Forms != null && Model.Forms.Any())
{
	<div class="accordion-item">
		<div class="row p-3 m-0">
			<p class="fw-bold text-center m-0 col-md-1">#</p>
			<p class="fw-bold m-0 col-md-3">Submit By</p>
			<p class="fw-bold m-0 col-md-3">Email</p>
			<p class="fw-bold m-0 col-md-3">Submit Date</p>
			<p class="fw-bold m-0 col-md-2">Action</p>
		</div>
	</div>
	@foreach (var form in Model.Forms)
	{
		var Answers = form.Answers.ToList();
		<div class="accordion-item">
			<div class="accordion-header" id="heading_@index">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@index" aria-expanded="true" aria-controls="collapse_@index">
					<div class="row w-100">
						<p class="m-0 col-md-1 text-center fw-bold">@index</p>
						<p class="m-0 col-md-3">@form.UserName</p>
						<p class="m-0 col-md-3">@form.Email</p>
						<p class="m-0 col-md-3">@form.SubmittedDate</p>
						<p class="m-0 col-md-1 text-end">
							<a class="btn btn-sm btn-info" onclick="detailsTemplateForm(@form.FormId, @form.TemplateId)"><i class='bx bx-info-circle'></i></a>
						</p>
					</div>
				</button>
			</div>
			<div id="collapse_@index" class="accordion-collapse collapse" aria-labelledby="heading_@index" data-bs-parent="#form-generate-row">
				<div class="accordion-body">
					@using (Html.BeginForm("SetQuestionMark", "Question", FormMethod.Post, new { area = "Templates", @class = "mt-3" }))
					{
						@Html.HiddenFor(x => x.TemplateId)
						<div class="question-list">
							@for (int i = 0; i < Model.Questions.Count() && Answers.Count() > i; i++)
							{
								<div class="container mt-2" style="border-radius: 5px; border: 1px solid #d2d2d2;">
									@{
										var question = Model.Questions.ElementAt(i);
										@Html.HiddenFor(x => Answers[i].AnswerId)
										@Html.HiddenFor(x => Answers[i].FormId)
										@Html.HiddenFor(x => Answers[i].QuestionId)

										<div class="question-item mb-3">
											<div class="row">
												<div class="col-md-8">
													<label class="form-label m-0">@question.QuestionTitle</label>
													<p class="mb-2 text-danger" style="font-size: 13px;">
														<i class='bx bx-chevrons-right'></i> @question.Description
													</p>
												</div>
												<div class="col-md-4 d-flex align-items-center justify-content-end">
													<input type="number" name="@($"Answers[{i}].Marks")" class="form-control text-center no-spinners" style="width: 50px;" />
													<label class="form-label m-2">Out of</label>
													<input type="number" name="@($"Answers[{i}].MaximumMarks")" class="form-control text-center no-spinners" value="5" style="width: 50px;" />
												</div>
											</div>

											@if (int.Parse(question.QuestionType) == ((int)Enums.TemplateQuestionTypeEnum.Single_Line))
											{
												<input class="form-control" type="text" value="@Answers[i].AnswerText" name="@($"Answers[{i}].AnswerText")" />
											}
											else if (int.Parse(question.QuestionType) == ((int)Enums.TemplateQuestionTypeEnum.Multiple_Line))
											{
												<textarea class="form-control" name="@($"Answers[{i}].AnswerText")" rows="3">@Answers[i].AnswerText</textarea>
											}
											else if (int.Parse(question.QuestionType) == ((int)Enums.TemplateQuestionTypeEnum.Positive_Integer))
											{
												<input class="form-control" type="number" value="@Answers[i].AnswerText" name="@($"Answers[{i}].AnswerText")" />
											}
											else if (int.Parse(question.QuestionType) == ((int)Enums.TemplateQuestionTypeEnum.Checkbox))
											{
												@foreach (var option in question.QuestionOptions)
												{
													<input type="radio"
														   name="Answers[@i].AnswerText"
														   value="@option.QuestionOptionId"
														   class="form-check-input"
													@(int.Parse(Answers[i].AnswerText) == option.QuestionOptionId ? "checked" : "") />

													<label class="form-label m-0 ms-3">@option.OptionName</label>
													<br />
												}
											}
										</div>
									}
								</div>
							}
						</div>
						<button type="submit" class="btn btn-primary mt-2">Submit</button>
					}
				</div>
			</div>
		</div>
		index++;
	}
}
else
{
	<div class="alert alert-warning text-center  mt-5 mb-5">
		No form available at the moment.
	</div>
}
