@model SurveyForm.ViewModels.FormViewModel

<div class="container" style="background-color: #fbf8ff; border-radius: 5px; border: 1px solid #d2d2d2;">
	<img src="@Model.Image" alt="Template Banner" height="200" />
	<h2 class="mt-4">@Model.Title</h2>
	@Html.Raw(Model.Description)<br />
</div>

@using (Html.BeginForm("SubmitForm", "Forms", FormMethod.Post, new { area = "Templates", @class = "mt-3" }))
{
	<input type="hidden" asp-for="TemplateId" />

	<div class="question-list">
		@for (int i = 0; i < Model.Questions.Count(); i++)
		{
			<div class="container mt-2" style="border-radius: 5px; border: 1px solid #d2d2d2;">
				@{
					var question = Model.Questions.ElementAt(i);
					<input type="hidden" name="Answers[@i].QuestionId" value="@question.QuestionId" />

					<div class="question-item mb-3">
						<label class="form-label m-0">@question.QuestionTitle</label>

						<p class="mb-2 text-danger" style="font-size: 13px;">
							<i class='bx bx-chevrons-right'></i> @question.Description
						</p>

						@if (int.Parse(question.QuestionType) == 1)
						{
							<input class="form-control" type="text" name="Answers[@i].AnswerText" />
						}
						else if (int.Parse(question.QuestionType) == 2)
						{
							<textarea class="form-control" name="Answers[@i].AnswerText" rows="3"></textarea>
						}
						else if (int.Parse(question.QuestionType) == 3)
						{
							<input class="form-control" type="number" name="Answers[@i].AnswerText" />
						}
						else if (int.Parse(question.QuestionType) == 4)
						{
							@foreach (var option in question.QuestionOptions)
							{
								<div class="row">
									<div class="col-md-12 d-flex">
										<input type="radio" name="Answers[@i].AnswerText" value="@option.QuestionOptionId" id="option_@option.QuestionOptionId" class="form-check-input" />
										<label class="form-label ms-3 mb-0" for="option_@option.QuestionOptionId">@option.OptionName</label>
									</div>
								</div>
							}
						}
					</div>
				}
			</div>
		}
	</div>

	<button type="submit" class="btn btn-primary mt-2">Submit</button>
}
