@using Microsoft.AspNetCore.Identity
@using SurveyForm.Data
@inject SignInManager<ApplicationUser> SignInManager
@model SurveyForm.ViewModels.TemplateViewModel

@{
	ViewData["Title"] = "Template Details";
}

<ul class="nav nav-tabs" id="templateTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active" id="template-setup-tab" data-bs-toggle="tab" href="#template-setup" role="tab" aria-controls="template-setup" aria-selected="true">Setup</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="template-question-tab" data-bs-toggle="tab" href="#template-question" role="tab" aria-controls="template-question" aria-selected="false">Questions</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="template-form-tab" data-bs-toggle="tab" href="#template-form" role="tab" aria-controls="template-form" aria-selected="false">Forms</a>
	</li>
</ul>

<div class="tab-content" id="templateTabBody">
	<div class="tab-pane fade show active" id="template-setup" role="tabpanel" aria-labelledby="template-setup-tab">
		<div class="card template-setup">
			<div class="product-imgs">
				<div class="img-display">
					<div class="img-showcase">
						<img src="@Model.Image" alt="Template Image" class="Template Image" />
					</div>
				</div>
				@* <div class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="@Model.Image" alt="Template Image" class="Template Image" />
                            </a>
                        </div>
                    </div> *@
			</div>

			<div class="product-content">
				<h2 class="product-title">@Model.Title <span class="author">__By @Model.CreatedBy</span></h2>
				<p class="template-publish"><strong>Published:</strong> @Model.CreatedDate.ToShortDateString()</p>

				<div class="mt-3 mb-3" style="font-size: 30px;">
					@if (SignInManager.IsSignedIn(User))
					{
						<a href="@Url.Action("AddToFavourite", "Template", new { area = "Templates", templateId = Model.TemplateId })" class="d-flex align-items-center">
							<span class="fw-bold me-3" style="font-size: 20px;">@Model.Likes.Count()</span>
							@if (Model.IsLiked)
							{
								<i class='bx bxs-like'></i>
							}
							else
							{
								<i class='bx bx-like'></i>
							}
						</a>
					} else {
						<p href="" class="d-flex align-items-center">
							<span class="fw-bold me-3" style="font-size: 20px;">@Model.Likes.Count()</span>
							<i class='bx bx-like' title="Please sign in to add to favourite."></i>
						</p>
					}
					
				</div>

				<div class="product-detail">
					<h2>about this template </h2>
					@Html.Raw(@Model.Description)
				</div>

				<div class="purchase-info">
					<a class="btn btn-sm btn-success" href="@Url.Action("Index", "Forms", new { area = "Templates", id = Model.TemplateId })">Start Test <i class='bx bxs-chevrons-right'></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="template-question" role="tabpanel" aria-labelledby="template-question-tab">
		<div id="question_list_sortable_placeholder">
			<partial name="~/Areas/Templates/Views/Question/_QuestionList.cshtml" model="@Model?.Questions" />
		</div>
	</div>

	<div class="tab-pane fade" id="template-form" role="tabpanel" aria-labelledby="template-form-tab">
		<div id="question_list_sortable_placeholder">
			<partial name="~/Areas/Templates/Views/Forms/_FormList.cshtml" model="@Model" />
		</div>
	</div>
</div>

<h3 class="mt-4">Comments</h3>
@if (SignInManager.IsSignedIn(User))
{
	<form id="commentForm" disabled>
		<input type="hidden" name="TemplateId" id="comment-template-id" value="@Model.TemplateId" />
		<div class="form-group">
			<textarea id="commentText" name="CommentText" class="form-control" placeholder="Write a comment..." required></textarea>
		</div>
		<button type="submit" class="btn btn-primary mt-2 mb-2">Add Comment</button>
	</form>
}

<div class="comments-section mb-4" id="template_comment_placeholder">
	<partial name="~/Areas/Templates/Views/Template/_CommentList.cshtml" model="@Model?.Comments" />
</div>


@section Scripts {
	<script>

	</script>
}